<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427126638951-qpgrpu4f76jg8u9lsk6o464osb6ft7gm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427126638951-qpgrpu4f76jg8u9lsk6o464osb6ft7gm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427126638951-n7kagd2jue1da2hoq0q2l9h2ml0bf5vk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhniRtOrOxwYdI-cAqRsf6KF1GUSH0O3U</string>
	<key>GCM_SENDER_ID</key>
	<string>427126638951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gameApp</string>
	<key>PROJECT_ID</key>
	<string>game-39b8e</string>
	<key>STORAGE_BUCKET</key>
	<string>game-39b8e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427126638951:ios:5afcf6b7a3a11f04ca47c2</string>
</dict>
</plist>